#rightmenu {
    float: right;
    width: 470px;
    height: 220px;
    background-color: rgba(42, 42, 42, 0.8);
    position: absolute;
    margin-left: 1450px;
}

.charts {
    display: block;
    border-radius: 4px;
    border: #00a65a;
    background-color: rgba(42, 42, 42, 0.2);
    color: white;
    vertical-align: top;
}

#line {
    display: none;
    background-color: #00acd6;
    margin-left: 1450px;
    margin-top: 220px;
    position: absolute;
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

#bar {
    display: none;
    margin-left: 1450px;
    margin-top: 465px;
    position: absolute;
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

#pie {
    display: none;
    margin-left: 1450px;
    margin-top: 710px;
    position: absolute;
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

#bubble {
    display: none;
    margin-left: 1450px;
    margin-top: 220px;
    position: absolute;
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

