#rightmenu{
    float:right;
    width: 1300px;
    position: absolute;
    margin-left: 200px;
    margin-top: 00px
}
.charts{
    display: block;
    border-radius: 4px;
    border: #00a65a;
    background-color: rgba(42, 42, 42, 0.2);;
    color: white;
}
#showHighCharts{
    display: none;
    margin-right: 400px;
    position: absolute;//key
}