.toolbar_measure {
    position: absolute;
    top: 0px;
    left: 310px;
    z-index: 8888;
    display: none;
    width: 292px;
    height: 28px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

.full_view {
    position: absolute;
    top: 40px;
    left: 310px;
    z-index: 8888;
    display: none;
    /*width: 180px;*/
    height: 260px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

.Smodel {
    position: absolute;
    top: 300px;
    left: 310px;
    z-index: 8888;
    display: none;
    width: 160px;
    height: 405px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

.caseMenuShow {
    position: absolute;
    top: 300px;
    left: 310px;
    z-index: 8888;
    display: none;
    width: 160px;
    height: 380px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

.collisionMenuShow {
    position: absolute;
    top: 300px;
    left: 310px;
    z-index: 8888;
    display: none;
    width: 200px;
    height: 230px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

.explodeMenuShow {
    position: absolute;
    top: 300px;
    left: 310px;
    z-index: 8888;
    display: none;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

.killMenuShow {
    position: absolute;
    top: 300px;
    left: 310px;
    z-index: 8888;
    display: none;
    width: 380px;
    height: 310px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

.model_modify {
    position: absolute;
    top: 700px;
    left: 310px;
    z-index: 8888;
    display: none;
    width: 200px;
    height: 240px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px 0px 2px 2px;
    border: 1px solid rgba(204, 212, 222, 1);
}

.toolbar_measure select {
    border: 1px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
}

.model_modify select {
    border: 1px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
}

.Smodel select {
    border: 1px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
}

.caseMenuShow select {
    border: 1px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
}

.collisionMenuShow select {
    border: 1px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
}

.explodeMenuShow select {
    border: 1px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
}

.killMenuShow select {
    border: 1px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
}

.toolbar_measure option {
    background-color: black;
    color: white;
    border-radius: inherit;
}

.model_modify option {
    background-color: black;
    color: white;
    border-radius: inherit;
}

.Smodel option {
    background-color: black;
    color: white;
    border-radius: inherit;
}

.caseMenuShow option {
    background-color: black;
    color: white;
    border-radius: inherit;
}

.collisionMenuShow option {
    background-color: black;
    color: white;
    border-radius: inherit;
}

.explodeMenuShow option {
    background-color: black;
    color: white;
    border-radius: inherit;
}

.killMenuShow option {
    background-color: black;
    color: white;
    border-radius: inherit;
}

.hrt {
    height: 5px;
    border: none;
    border-top: 2px ridge white;
}

.killInput {
    border-color: white;
    border-radius: 2px;
    width: 120px;
    background-color: transparent;
    color: white;
}
