<!doctype html>
<html lang="en">
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="/public/css/reset.css" rel="stylesheet">
    <link href="/public/css/base.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper  animated fadeInRight blog container">
    <ul>
        <li class="wrapper-li"><a href="/web/bio/list" target="_blank">生物物证</a></li>
        <li class="wrapper-li"><a href="/web/elec/list" target="_blank">电子物证信息</a></li>
        <li class="wrapper-li"><a href="/web/file/list" target="_blank">现场文检</a></li>
        <li class="wrapper-li"><a href="/web/foot/list" target="_blank">现场足迹痕迹</a></li>
        <li class="wrapper-li"><a href="/web/hand/list" target="_blank">现场手印</a></li>
        <li class="wrapper-li"><a href="/web/tool/list" target="_blank">现场工具痕迹</a></li>
    </ul>
</div>
</body>
</html>